<article id="error" class="panel">
    <header>
        <h1>{{ "ERROR_TYPE"|t }} {{ page.header.http_response_code }}</h1>        
        <p>{{ "ERROR_DESC"|t }}</p>
        <p><a class="button" href="home">{{ "ERROR_BTN"|t }}</a></p>
    </header>
        <img class="rightabs" src="{{ theme_url }}/images/error.jpg">
</article>
