<article id="work" class="panel">
    <header>
        {{ page.content }}
    </header>
    <section>
        <div class="row">
            <div class="4u 12u$(mobile)">
                <a href="{{ url('theme://images/gallery/gal-1.jpg')}}" data-lightbox="image" data-title="" class="image fit">
                <img src="{{ url('theme://images/gallery/gal-1.jpg')}}" alt="">
                </a>
            </div>
            <div class="4u 12u$(mobile)">
                <a href="{{ url('theme://images/gallery/gal-2.jpg')}}" data-lightbox="image" data-title="" class="image fit">
                <img src="{{ url('theme://images/gallery/gal-2.jpg')}}" alt="">
                </a>
            </div>
            <div class="4u 12u$(mobile)">
                <a href="{{ url('theme://images/gallery/gal-3.jpg')}}" data-lightbox="image" data-title="" class="image fit">
                <img src="{{ url('theme://images/gallery/gal-3.jpg')}}" alt="">
                </a>
            </div>
            <div class="4u 12u$(mobile)">
                <a href="{{ url('theme://images/gallery/gal-4.jpg')}}" data-lightbox="image" data-title="" class="image fit">
                <img src="{{ url('theme://images/gallery/gal-4.jpg')}}" alt="">
                </a>
            </div>
            <div class="4u 12u$(mobile)">
                <a href="{{ url('theme://images/gallery/gal-5.jpg')}}" data-lightbox="image" data-title="" class="image fit">
                <img src="{{ url('theme://images/gallery/gal-5.jpg')}}" alt="">
                </a>
            </div>
            <div class="4u 12u$(mobile)">
                <a href="{{ url('theme://images/gallery/gal-6.jpg')}}" data-lightbox="image" data-title="" class="image fit">
                <img src="{{ url('theme://images/gallery/gal-6.jpg')}}" alt="">
                </a>
            </div>
            <div class="4u 12u$(mobile)">
                <a href="{{ url('theme://images/gallery/gal-7.jpg')}}" data-lightbox="image" data-title="" class="image fit">
                <img src="{{ url('theme://images/gallery/gal-7.jpg')}}" alt="">
                </a>
            </div>
            <div class="4u 12u$(mobile)">
                <a href="{{ url('theme://images/gallery/gal-8.jpg')}}" data-lightbox="image" data-title="" class="image fit">
                <img src="{{ url('theme://images/gallery/gal-8.jpg')}}" alt="">
                </a>
            </div>
            <div class="4u 12u$(mobile)">
                <a href="{{ url('theme://images/gallery/gal-9.jpg')}}" data-lightbox="image" data-title="" class="image fit">
                <img src="{{ url('theme://images/gallery/gal-9.jpg')}}" alt="">
                </a>
            </div>
        </div>
    </section>
</article>
