<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>
{# chargement de ~/partials/metadata.html.twig #}
    {% include 'partials/metadata.html.twig' %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png', true) }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />

{# chargement des styles CSS #}
    {% block stylesheets %}
{# chargement des CSS Bootstrap 3.3.6 #}
    {% do assets.addCss('theme://css/bootstrap.min.css') %}
{# chargement des Custom CSS Saba #}
    {% do assets.add('theme://css/saba-custom.css',100) %}
{# chargement des Fontawesome 4.5.0 #}
    {% do assets.add('theme://css/font-awesome.min.css',101) %}
{# a vérifier--   
    {% do assets.addCss('theme://css/slidebars.min.css') %} 
#}
    {% endblock %}
    {{ assets.css() }}
{# chargement des js #}
    {% block javascripts %} {% endblock %}
    {{ assets.js() }}
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock head%}
</head>
    
{# Début du body #}
<body id="top" class="{{ page.header.body_classes }}">
    <div id="sb-site">
        {% block header %}
        <header id="header">
            <div id="logo">
                <h3><a href="{{ base_url == '' ? '/' : base_url }}">{{ config.site.title }}</a></h3>
            </div>
            <div id="navbar">
                {% block header_extra %}{% endblock %}
{# intégration de ~partials/nav_langswitcher.html.twig #}
			{% if config.plugins.langswitcher.enabled %}
			{% include 'partials/nav_langswitcher.html.twig' %}
			{% endif %}
                {% block header_navigation %}
                {% include 'partials/navigation.html.twig' %}
                {% endblock %}
                <span class="panel-activation sb-toggle-left navbar-left menu-btn fa fa-bars"></span>
            </div>
        </header>
        {% endblock %}

        {% block showcase %}{% endblock %}

{# intégration du contenu ~/base.html.twig #}
        {% block body %}
        <section id="body" class="{{ class }}">
            {% block content %}{% endblock %}
        </section>
        {% endblock %}

{# intégration du footer ~/partials/footer.html.twig #}       
        {% block footer %}
            {% include 'partials/footer.html.twig' %}
        {% endblock %}
    </div>

{# block bottom #}
    {% block bottom %} {% endblock %}
	
</body>
</html>
