<!DOCTYPE HTML>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
    {% block head %}
        <meta charset="utf-8" />
        <title>{% if header.title %}{{ header.title|e('html') }}|{% endif %}{{ site.title|e('html') }}</title>
        {% include 'partials/metadata.html.twig' %}
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/png" href="{{ theme_url }}/images/favicon.png" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        {% block stylesheets %}
            {% do assets.addCss('theme://css/main.css') %}
                {% if browser.getBrowser == 'msie' and browser.getVersion == 8 %}
            {% do assets.addJs('theme://js/ie/html5shiv.js') %}
            {% do assets.addCss('theme://css/ie8.css') %}
		{% endif %}
        {% endblock %}
        {{ assets.css() }}
    {% endblock head%}
</head>
<body>
    <div id="wrapper">
{# inclusion du menu ~partials/navigation.html.twig #}
        {% include 'partials/navigation.html.twig' %}
{# inclusion du menu ~partials/nav.html.twig #}
{#      {% include 'partials/nav.html.twig' %} #}
		<div id="main">
        {% block body %}
        {% block content %}{% endblock %}
        {% endblock %}
        	</div>
{# inclusion du footer ~partials/footer.html.twig #}
	{% block footer %}
	{% include 'partials/footer.html.twig' %}
	{% endblock %}
    </div>
{# inclusion des javascripts depuis js #}
	{% block javascripts %}
		{% do assets.addJs('theme://js/jquery.min.js') %}
		{% do assets.addJs('theme://js/skel.min.js') %}
		{% do assets.addJs('theme://js/skel-viewport.min.js') %}
		{% do assets.addJs('theme://js/util.js') %}
		{% do assets.addJs('theme://js/main.js') %}
	{% endblock %}
	{{ assets.js() }}
</body>
</html>
